body{
    position: relative;
    margin: 0;
    background-color: #e9ebee;
}



/**********Cabeçalho***********/

#logo {
    
    width: auto;
    height: 25px;
    position: absolute;
    transform: translate(8px,25%);
}

.nomePerfil{
    font-family: 'Lucida Grande';
    font-weight: bold;
    color: #e9ebee;
    font-size: 90%;
    position: absolute;
    top:50%;
    right: calc(1.5% + 35px);
    transform: translate(0,-50%);
    cursor: pointer;
}

.nomePerfil:hover{
    text-decoration: underline;
    text-decoration-color: white;
}

.fotoPerfil{
    position: absolute ;
    top: 50% ;
    right:0.75% ;
    transform: translate(0,-50%);

    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-size: cover;
    cursor: pointer;
}

.fotoPerfil:hover{
    position: absolute ;
    top: 50% ;
    right:0.75% ;
    transform: translate(2px,-50%);

    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-size: cover;

    border: 1px solid #b4b4b4;
    padding: 2px;
}



.container {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    z-index: +1;
    size: relative;
    width: 60%;
    height: 40px;
    background-color: #4469b0;
    border-radius: 0 0 5px 5px;
    border-bottom: 1px solid #324e83;
    border-left: 1px solid #324e83;
    border-right: 1px solid #324e83;
}

/****************************/

/**********posts*************/

.container2 {

    border-radius: 5px;
    background-color: white;
    width: 40%;
    min-width: 500px;
	margin: 0 auto;
    border: 1px solid #dddfe2;
    margin-top: 20px;
    transform: translate(0,35px);
    
}

.comentBox{
    vertical-align: middle;
    padding-top: 3px;
    padding-bottom: 2px;
    max-width: 300px;
}

.nomeComentador{
    font-family: 'Lucida Grande';
    font-weight: bold;
    color:#4469b0;
    font-size: 105%;
    position: relative;
    left: 20px;
    cursor: pointer;
    word-break: break-all;
    max-width: 300px;
}

.nomeComentador:hover{
    font-family: 'Lucida Grande';
    font-weight: bold;
    color:#4469b0;
    font-size: 105%;
    position: relative;
    left: 20px;

    text-decoration: underline;
    text-decoration-color: #4469b0;
 
}

.comentComentador{
    font-family: 'Lucida Grande';
    position: relative;
    font-size: 90%;
    left: 25px;
    background-color: #e9ebee;
    padding: 5px 10px 5px 10px;
    border-radius: 30px;
}

.fotoComentador{
    transform: translate(15px,0);
    vertical-align: middle;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid #b4b4b4;
    padding: 1px;
}

.fotoPostador{
    position: absolute;
    top: 10%;
    left: 2.5%;

    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-size: cover;
}

.nomePostador{
    font-family: 'Lucida Grande';
    font-weight: bold;
    color:#4469b0;
    font-size: 105%;
    position: absolute;
    top:10%;
    left: calc(5% + 50px);
    transform: translate(0,0);

}

.nomePostador:hover{
    font-family: 'Lucida Grande';
    font-weight: bold;
    color:#4469b0;
    font-size: 105%;
    position: absolute;
    top:10%;
    left: calc(5% + 50px);
    transform: translate(0,0);
    cursor: pointer;

    text-decoration: underline;
    text-decoration-color: #4469b0;

}

.comentPostador{
    font-family: 'Lucida Grande';
    position: absolute;
    top:50%;
    left: 2.5%;
    transform: translate(0,calc(27px - 50%));

}

.horaPost{
    font-family: 'Lucida Grande';
    color:#adadad;
    font-size: 80%;
    position: absolute;
    top:10%;
    left: calc(5% + 50px);
    transform: translate(0,25px);

}

.fotoComentInclude{
    transform: translate(15px,0);
    vertical-align: middle;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid #b4b4b4;
    padding: 1px;
}

/*******************************/

/************likeBotao1*********/

.botaoLike{
    -webkit-background: transparent;
    background: transparent;
    border: none;
    color: #4469b0;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    left: 2.5%;
    padding-bottom: 8px;

    -webkit-transition-duration: 0.05s; /* Safari */
    transition-duration: 0.05s;
}

.botaoLike:active{
    font-size:22px;
}

.likeCount{
    font-family: 'Lucida Grande';
    color:#646464;
    font-size: 80%;
    position: absolute;
    transform: translate(20px,8px);
}

/*************likeBotao2**********/

.botaoLike2{
    -webkit-background: transparent;
    background: transparent;
    border: none;
    color: #4469b0;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    left: 2.5%;
    padding-bottom: 8px;


    -webkit-transition-duration: 0.05s;
    transition-duration: 0.05s;
}

.botaoLike2:active{
    font-size:22px;
}

.likeCount2{
    font-family: 'Lucida Grande';
    color:#646464;
    font-size: 80%;
    position: absolute;
    transform: translate(20px,8px);
}

/************************************/